.foot-wrapper{
    position: absolute;
    width: 100%;
    /*height: 500px;*/
    /*border: 2px solid red;*/
    background-color:#0a58ca;
}

.foot-wrapper>section:nth-child(1){
    height: 75px;
    /*border: 2px solid black;*/
    /*display: flex;*/


}
.foot-wrapper>section:nth-child(1)>div{
    position: relative;
    top: 10px;
    /*border: 1px solid pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-wrapper>section:nth-child(1)>div>a{
    text-decoration: none;
    color: white;

}
.foot-wrapper>section:nth-child(1)>div>a>h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 28px;
    font-family: Ubuntu;
}
.foot-wrapper>section:nth-child(1)>div>a:hover>h3{
    color:#FE500A;
}




.foot-wrapper>section:nth-child(2){
     height: 380px;
     /*border: 2px solid black;*/
    background-color:darkblue ;
    display: flex;
 }
.foot-wrapper>section:nth-child(2)>div{
    flex: 1;
    position: relative;
    /*border: 2px solid blanchedalmond;*/

}
/*contact me*/
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(1){
    height: 120px;
    position: relative;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;

}
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(1)>h3{
    position: relative;
    /*width: 100%;*/
    left: 10px;
    color: white;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*border: 1px solid red;*/

}

.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2){
    height: 200px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div{
    flex: 1;
    /*border: 2px solid yellow;*/
}
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(1)>p{
    position: relative;
    left: 10px;
    top: 5px;
    color: white;
}
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(2)>a{
    position: relative;
    text-decoration: none;
    left: 10px;
    top: 5px;
    color: white;
}

.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(3)>p{
    position: relative;
    left: 10px;
    top: 5px;
    color: white;
}
.foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(4)>a{
    position: relative;
    text-decoration: none;
    left: 10px;
    top: 5px;
    color: white;
}
/*contact me*/


/*catch me direct*/
.foot-wrapper>section:nth-child(2)>div:nth-child(2){
    /*border: 5px solid salmon;*/
    position: relative;
}

.foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    height: 100px;
    /*border: 2px solid black;*/
    position: relative;
    display: flex;
    align-items: center;


}
.foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(1)>h3{
     position: relative;
     left: 15px;
     color: white;
     /*font-family: 'Ubuntu', sans-seri*/


 }

.foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    /*height: 100px;*/
    /*border: 2px solid black;*/
    position: relative;


}
.foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p{
    /*height: 100px;*/
    color: white;
    font-family: Arial;

}
/*catch me direct*/

/*I'm on the internet*/
.foot-wrapper>section:nth-child(2)>div:nth-child(3){
    /*border: 5px solid salmon;*/
    position: relative;
}
.foot-wrapper>section:nth-child(2)>div:nth-child(3)>div:nth-child(1){
    height: 100px;
    /*border: 2px solid black;*/
    position: relative;
    display: flex;
    align-items: center;


}
.foot-wrapper>section:nth-child(2)>div:nth-child(3)>div:nth-child(1)>h3{
    position: relative;
    left: 15px;
    color: white;
    /*font-family: 'Ubuntu', sans-seri*/


}
.foot-wrapper>section:nth-child(2)>div:nth-child(3)>div:nth-child(2){
    height: 100px ;
    /*border: 1px solid red;*/
    display: flex;


}
.foot-wrapper>section:nth-child(2)>div:nth-child(3)>div:nth-child(2)>div{
    flex: 1;
    /*border: 1px solid violet;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-img{
    width: 50px;
    height: 50px;
}

/*I'm on the internet*/



.foot-wrapper>section:nth-child(3){
     height: 40px;
     /*border: 5px solid brown;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }
.foot-wrapper>section:nth-child(3)>h5{
    /*font-weight: bold;*/
    text-transform: capitalize;
    color: white;
}
@media all and (max-width: 376px) {
    .foot-wrapper>section:nth-child(1)>div>a>h3{
        font-size: 13px;
    }
    .foot-wrapper>section:nth-child(2){
        height: 740px!important;

        flex-direction: column;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(1)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(3)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p {
        margin-left: 18px!important;
    }

    .foot-wrapper>section:nth-child(3)>h5 {
        font-size: 11px;
    }
}

@media all and (min-width: 376px) and (max-width: 426px) {
    .foot-wrapper>section:nth-child(1)>div>a>h3{
        font-size: 13px;
    }
    .foot-wrapper>section:nth-child(2){
        height: 740px!important;

        flex-direction: column;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(1)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(3)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p {
        margin-left: 18px!important;
    }

    .foot-wrapper>section:nth-child(3)>h5 {
        font-size: 11px;
    }
}

@media all and (min-width: 426px) and (max-width: 769px) {
   /* .foot-wrapper>section:nth-child(1)>div>a>h3{
        font-size: 13px;
    }
    .foot-wrapper>section:nth-child(2){
        height: 740px!important;

        flex-direction: column;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(1)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(3)>p {
        left: 0!important;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p {
        margin-left: 18px!important;
    }

    .foot-wrapper>section:nth-child(3)>h5 {
        font-size: 11px;
    }*/

    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(1)>p {

        left: -8px;

    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(2)>a {
        left:-8px;
    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(3)>p {

        left: -8px;

    }
    .foot-wrapper>section:nth-child(2)>div:nth-child(1)>aside:nth-child(2)>div:nth-child(4)>a {

        left: -8px;

    }
}